*
!rust-toolchain.toml
!scripts/
scripts/*
!scripts/Dockerfile.gateway-worker
!scripts/build-gateway-worker.sh
!gateway/
gateway/*
!gateway/Cargo.lock
!gateway/Cargo.toml
!gateway/src/
!gateway/src/**
